<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <title>Online Guru</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static "Hobbies/CSS/mpsmain.css" %}">
      <style>

</style>


      <style>
@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

{
   font-family: myFirstFont;
}
</style>

  </head>

  <body>
  <div class="navbar navbar-inverse">
{#    <div class="container-fluid">#}
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar" id="buttonFont">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}" class="active" >Home</a></li> <!-- href Home -->
                <li><div class="dropdown">
                    <button class="dropbtn">
                        <a href="{% url 'classes' %}"><span class="word_style">Classes</span></a>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'online_hobby_list' %}">Online</a>
                        <a href="{% url 'hobby_list' %}">In class</a>
                    </div>
                    </div>
                </li>  <!-- changed to classes -->
           </ul>
            <ul class="nav navbar-nav navbar-right">

                     {% if user.is_authenticated %}
                        <li class="nav-item">
                      <a class=" " href="#" id="userMenu"\
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded\
                      ="false">
                       Hi {{ user.username }} <br> {% if user.user_type == 2 %} (Instructor) {%  else %} (User) {% endif %}, <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="userMenu">
                          <a class="dropdown-item" href="{% url 'profile_preview' %}">
                        My Profile</a>
                          <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'password_change'%}">
                            Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                        Log Out</a>
                          <div class="dropdown-divider"></div>

                      </div>
                    </li>
                    {%  else %}
                    <li><a href="{% url 'signup' %}" >Signup</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" style="height: 50%"></span> Login</a></li>

                    {% endif %}
                    {#   add count of items added for the cart button - Apr 9 2020 #}
                    <li><a href="{% url 'order_summary' %}"><span class="glyphicon glyphicon-shopping-cart"></span> <sup>{{ user.cart_set.all.first.items.all|length }}</sup>Cart</a> </li>
            </ul>
        </div>
  </div>
{#  </div>#}
  </nav>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </body>

<footer class="footer mt-auto py-3">
  <div class="container">

  </div>
</footer>
</html>

