<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}

  {% block content %}

		<br>
		<br>
		<div class="box">
			<h3>Photography</h3>
			<p>the art or practice of taking and processing photographs.
			</p>
		</div>
		<br>
	    <div class="box">
			<h3>craftworks</h3>
			<p>
                Craftworks means making of things, especially decorative objects, by hand as a profession or leisure activity.
			</p>
		</div>
		<br>
		<div class="box">
			<h3>Baking</h3>
			<p>cook (food) by dry heat without direct exposure to a flame, typically in an oven or on a hot surface.
              "they bake their own bread and cakes"
            </p>
		</div>
		<br>
		<div class="box">
			<h3>Painting</h3>
			<p>
              the process or art of using paint, in a picture, as a protective coating, or as decoration.
			</p>
		</div>
		<br>
		<div class="box">
			<h3>Dance</h3>
			<p>move rhythmically to music, typically following a set sequence of steps.
			</p>
		</div>
		<br>
		<div class="box">
			<h3>Music</h3>
			<p>
                vocal or instrumental sounds (or both) combined in such a way as to produce beauty of form, harmony, and expression of emotion.
			</p>
		</div>

  {% endblock content %}
</html>
